.oneStore {
    padding: 20px 0px;
    .row{
        margin: 0px !important;
    }
    .storeImage{
        width: 100%;
    }
}
.mainBlue{
    background:#4E7DF1
}
body{
  background: #f4f7fd;
}
.mainBlueIcon{
    color:#4E7DF1
}
.mainYellowIcon{
  color: #d2d200
}
.textC{
    font-size: 13px;
    opacity: 0.9;
}
.container2{
    max-width: 1290px;
}
//#tabs-tab-new{
//  background: #4E7DF1;
//}
//#tabs-tab-cell{
//  background: #4E7DF1;
//}
//#tabs-tab-hitCell{
//  background: #4E7DF1;
//}
//#tabs-tab-recommended{
//  background: #4E7DF1;
//}
